.screen-root {
  margin: 0 auto;
  max-width: 1000px;
}

.app-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11rem 1fr;
  grid-template-areas:
    "sendmoney"
    "showtxt";
  gap: 1em 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.app-body-top {
  grid-area: sendmoney;
}

.app-body-mid {
  grid-area: showtxt;
}

@media screen and (orientation: portrait) and (max-width: 375px) {
  .app-body-mid {
    max-width: 360px;
  }
}
